@model IEnumerable<ELearningV1.Models.ViewModel.VMGetExamQuestion>
@{
    ViewBag.Title = "Exam";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .margin {
        margin-left: 50px;
    }

    .mt-1 {
        margin-top: 5px;
    }

    .mt-2 {
        margin-top: 10px;
    }

    .mt-3 {
        margin-top: 15px;
    }

    .mt-4 {
        margin-top: 20px;
    }

    .mt5 {
        margin-top: 25px;
    }
</style>
<div class="box">
    <div class="box-body">
        <div class="box box-primary" id="divEXAM" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title">Questions</h3>
                <!--
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" title="Previous" data-widget="collapse"><i class="fa fa-arrow-left"></i></button>
                    <button type="button" class="btn btn-box-tool" title="Next" data-widget="remove"><i class="fa fa-arrow-right"></i></button>
                </div>
                -->
            </div>
            <div class="box-body">
                <table class="table table-hover table-bordered table-responsive table-striped">
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var items in Model)
                            {
                                <script type="text/javascript">
                                    var questionIDs = new Array();
                                    questionIDs.push(@items.ID);
                                </script>
                                <tr>
                                    <td><p id="@items.ID">@items.Question</p></td>
                                </tr>
                                if (items.QuestionType == "2")
                                {
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="@items.C1" class="checkBox_">
                                                            <label id="txtMCOne">@items.C1</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="@items.C2" class="checkBox_">
                                                            <label id="txtMCTwo">@items.C2</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="@items.C3" class="checkBox_">
                                                            <label id="txtMCThree">@items.C3</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="@items.C4" class="checkBox_">
                                                            <label id="txtMCFour">@items.C4</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="@items.C1" id="@items.C1" value="option1" class="radio_">
                                                    <label id="answer1">@items.C1</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="@items.C1" id="@items.C2" value="option2" class="radio_">
                                                    <label id="answer2">@items.C2</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="@items.C1" id="@items.C3" value="option3" class="radio_">
                                                    <label id="answer3">@items.C3</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="@items.C1" id="@items.C4" value="option4" class="radio_"> <!--optionsRadios-->
                                                    <label id="answer4">@items.C4</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--<div class="form-group margin"></div>-->
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <input type="text" class="form-control" style="display:none" id="txtCourseID" />
                <input type="text" class="form-control" style="display:none" id="txtCourseSectionID" />
                <input type="text" class="form-control" style="display:none" id="txtQuestionID" />
                <input type="text" class="form-control" style="display:none" id="txtOrderNumber" />
            </div>
        </div>

        <div class="box box-primary" id="divVIDEO" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitleVideo"></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" title="Previous" data-widget="collapse"><i class="fa fa-arrow-left"></i></button>
                    <button type="button" class="btn btn-box-tool" title="Next" data-widget="remove"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="box-body text-center">
                <video id="videoTuitorial" controls width="890" height="500"></video>
            </div>
        </div>

        <div class="box box-primary" id="divPDF" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitlePDF"></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" title="Previous" data-widget="collapse"><i class="fa fa-arrow-left"></i></button>
                    <button type="button" class="btn btn-box-tool" title="Next" data-widget="remove"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="text-center">
                    <iframe id="framePDF" width="1000" height="500"></iframe> <!-- src="~/Content/CROSSFIRE.PDF"-->
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button class="btn btn-success btn-block" id="btnNext" onclick="getQuestionID()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Exam Name here</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">You can redo this test as many times as you want until you pass it. Good luck!</h3>
                <h4 class="text-center">This test contains # questions</h4>
                <h4 class="text-center">You have # minutes/hours to complete it</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Start test</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Are you sure about your answers?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveAnswers()">Yes</button>
                <button type="button" class="btn btn-default pull-right" onclick="cancelSaving()">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var answers = new Array();

    $(document).ready(function () {
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Home/GetSession",
                data: {},
                success: function (response) {
                    getAllUrlParams();
                    //$("#modal-info").modal();
                },
                error: function (response) {
                    window.location.href = '/LogIn/Index';
                }

            });
        });
    });

    function getAllUrlParams() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
            loadExamData(value);
        });
    }

    var loadExamData = function (CourseID) {
        $.ajax({
            type: "POST",
            url: "Exam/Exam",
            data: { "CourseID": CourseID },
            success: function (response) {
                loadData(CourseID);
            }
        });
    }

    var loadData = function (CourseID) {

        var dExam = document.getElementById("divEXAM");//$("#divEXAM").val();//
        var dVideo = document.getElementById("divVIDEO");//$("#divVIDEO").val();//
        var dPDF = document.getElementById("divPDF");//$("#divPDF").val();//

        $.ajax({
            type: "POST",
            url: "/Exam/GetFirstDataToLoad",
            data: { "CourseID": CourseID },
            success: function (response) {
                if (response.res == "Video") {
                    $.ajax({
                        type: "POST",
                        url: "/Exam/loadVideo",
                        data: { "CourseID": CourseID },
                        success: function (responseVideo) {
                            dVideo.style.display = "block";
                            dPDF.style.display = "none";
                            dExam.style.display = "none";

                            $("#boxTitleVideo").text(responseVideo.resTitleVideo);
                            document.getElementById("videoTuitorial").src = responseVideo.resVideo;
                        }
                    });
                }

                if (response.res == "PDF") {
                    $.ajax({
                        type: "POST",
                        url: "/Exam/loadPDF",
                        data: { "CourseID": CourseID },
                        success: function (responsePDF) {
                            dPDF.style.display = "block";
                            dVideo.style.display = "none";
                            dExam.style.display = "none";

                            $("#boxTitlePDF").text(responsePDF.resTitlePDF);
                            document.getElementById("framePDF").src = responsePDF.resPDF;
                        }
                    });
                }

                if (response.res == "Test") {
                    dPDF.style.display = "none";
                    dVideo.style.display = "none";
                    dExam.style.display = "block";
                }
            },
        });

    }

    var getNextDataToLoad = function () {
        var dVideo = document.getElementById("divVIDEO");
        var dPDF = document.getElementById("divPDF");
        var dExam = document.getElementById("divEXAM");

        var getSRC = "";

        debugger

        if (dVideo.style.display == "block") {
            getSRC = document.getElementById("videoTuitorial").src;
        }

        if (dPDF.style.display == "block") {
            getSRC = document.getElementById("framePDF").src;
        }

    }

    $(".checkBox_").change(function () {
        //if ($(".checkBox_:checked").length == $("checkBox_").length) {
        //if (answers == "" || answers == " " || answers == null) {
            answers.push(this.id);//answers = this.id;
        //}
        //else {
        //    answers = answers + ',' + this.id;
        //}
        //}
    });

    $(".radio_").change(function () {
        //if ($(".checkBox_:checked").length == $("checkBox_").length) {
        //if (answers == "" || answers == " " || answers == null) {
            answers.push(this.id);
        //}
        //else {
        //    answers = answers + ',' + this.id;
        //}
        //}
    });

    var confirmation = function () {
        if (answers == "" || answers == null) {
            alert("Please answer all the questions");
        }
        else { $("#modal-Confirmation").modal('show'); }

    }

    var cancelSaving = function () {
        answers = "";
        $("#modal-Confirmation").modal('hide');
    }

    var SaveAnswers = function () {
        $("#modal-Confirmation").modal('hide')
        debugger
        //var qID = new Array();//questionIDs;
        //qID.push(questionIDs);
        //var ansList = answers.split();

        $.ajax({
            type: "POST",
            url: "/Exam/SaveEmployeeAnswers",
            data: { "QuestionID": questionIDs, "Answers": answers },
            success: function (response) {
                alert(response.res);
            }
        });
    }

    var getQuestionID = function () {
        alert(questionIDs); //+ "\n" + answers
    }
</script>
