@model IEnumerable<ELearningV1.Models.ViewModel.VMElearningCourseSection>
@{
    ViewBag.Title = "Exam";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var endTime = DateTime.UtcNow.AddSeconds(65);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
}
<style>
    .margin {
        margin-left: 50px;
    }

    .mt-1 {
        margin-top: 5px;
    }

    .mt-2 {
        margin-top: 10px;
    }

    .mt-3 {
        margin-top: 15px;
    }

    .mt-4 {
        margin-top: 20px;
    }

    .mt5 {
        margin-top: 25px;
    }
</style>
<div class="box">
    <div class="box-header">
        <div>Time Remaining: <span id="demo"></span></div>
        <div id="countdown2" class="pull-right" style="font-size:24px;"></div>
    </div>
    <div class="box-body">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (@item.Type == "PDF")
                    {
                        var idPDF = "divPDF" + item.OrderSec;
                        <div class="box box-primary hidden" id="@idPDF">
                            <div class="box-header with-border">
                                <h3 class="box-title" id="boxTitlePDF">@item.Title</h3>
                            </div>
                            <div class="box-body">
                                <div class="text-center">
                                    <embed id="framePDF" src="@item.SourceFile" width="100%" height="500" name="plugin" type="application/pdf" /> <!-- src="~/Content/CROSSFIRE.PDF"-->
                                </div>
                            </div>
                        </div>
                    }
                    else if (@item.Type == "Test")
                    {
                        var idTest = "divEXAM" + item.OrderSec;
                        <div class="box box-primary hidden" id="@idTest">
                            <div class="box-header with-border">
                                <h3 class="box-title">@item.Title</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-hover table-bordered table-responsive table-striped">
                                    <tbody>
                                        @if (item.Quiz != null)
                                        {
                                            foreach (var q in item.Quiz)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" id="CourSecID" value="@q.CourseSectionID" />
                                                        <p id="@q.ID">@q.OrderNumber ) @q.Question</p>
                                                    </td>
                                                </tr>
                                                if (q.QuestionType == "2")
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="chkid@(q.ID)" name="chkA@(q.ID)" value="@q.ID@q.C1" class="checkBox_" onclick="add_checked(this)">
                                                                            <label id="txtMCOne">@q.C1</label>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="chkid@(q.ID)" name="chkB@(q.ID)" value="@q.ID@q.C2" class="checkBox_" onclick="add_checked(this)">
                                                                            <label id="txtMCTwo">@q.C2</label>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="chkid@(q.ID)" name="chkC@(q.ID)" value="@q.ID@q.C3" class="checkBox_" onclick="add_checked(this)">
                                                                            <label id="txtMCThree">@q.C3</label>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="chkid@(q.ID)" name="chkD@(q.ID)" value="@q.ID@q.C4" class="checkBox_" onclick="add_checked(this)">
                                                                            <label id="txtMCFour">@q.C4</label>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="radioid" name="rd@(q.ID)" value="@q.ID@q.C1" class="radio_">
                                                                    <label id="answer1">@q.C1</label>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="radioid" name="rd@(q.ID)" value="@q.ID@q.C2" class="radio_">
                                                                    <label id="answer2">@q.C2</label>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="radioid" name="rd@(q.ID)" value="@q.ID@q.C3" class="radio_">
                                                                    <label id="answer3">@q.C3</label>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" id="radioid" name="rd@(q.ID)" value="@q.ID@q.C4" class="radio_">
                                                                    <label id="answer4">@q.C4</label>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <div class="form-group margin"></div>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer">
                                <input type="text" class="form-control" style="display:none" id="txtCourseID" />
                                <input type="text" class="form-control" style="display:none" id="txtCourseSectionID" />
                                <input type="text" class="form-control" style="display:none" id="txtQuestionID" />
                                <input type="text" class="form-control" style="display:none" id="txtOrderNumber" />
                            </div>
                        </div>
                       
                    }
                    else if (@item.Type == "Video")
                    {
                        var idVideo = "divVIDEO" + item.OrderSec;
                        <div class="box box-primary hidden" id="@idVideo">
                            <div class="box-header with-border">
                                <h3 class="box-title" id="boxTitlePDF">@item.Title</h3>
                            </div>
                            <div class="box-body text-center">
                                <video id="videoTuitorial" src="@item.SourceFile" controls width="1000" height="500"></video>
                            </div>
                        </div>
                    }
                }
            }


        }
        <div class="box box-primary hidden" id="divScoring">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitleScoring"></h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <label style="font-size:24px; ;font-weight:700">Total # of questions: </label> <label id="labelNoQuestion" style="font-size:24px;font-weight:700">0</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <label style="font-size:24px;font-weight:700">Your score is: </label> <label id="labelScore" style="font-size:24px;font-weight:700">0</label>
                    </div>
                </div>
                <div class="panel panel-success" id="panelPositive" style="display:none;">
                    <p style="padding:10px;font-size:large;font-weight:400;">Congratulations! You are ready to start creating your own courses.</p>
                </div>
                <div class="panel panel-danger" id="panelNegative" style="display:none;">
                    <p style="padding:10px;font-size:large;font-weight:400">Maybe you should watch the video tutorials again. If you have any questions please feel free to contact the support team through the Help section! You can redo this test as many times as you want.</p>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @*<select id="ddChoices" class="form-control select2" style="width: 100%;">
                                <option value="0" selected>Select action</option>
                                <option value="1">Re-take exam</option>
                                <option value="2">Exit</option>
                            </select>*@
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button type="button" class="btn btn-success btn-block" onclick="ocOkFinished()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button class="btn btn-success btn-block" id="btnProceed" onclick="ocProceedNextProcess()">Proceed</button>
                <button class="btn btn-success btn-block hidden" id="btnProceedTest" onclick="ocProceedNextTestProcess()">Proceed</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Exam Name here</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">You can redo this test as many times as you want until you pass it. Good luck!</h3>
                <h4 class="text-center">This test contains # questions</h4>
                <h4 class="text-center">You have # minutes/hours to complete it</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Start test</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Are you sure about your answers?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveEmployeeAnswers1()">Yes</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Saved!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveAnswers()">Proceed</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="CourseID1" value="@Model.Select(x=>x.CourseID).FirstOrDefault()" />
<input type="hidden" id="SectionOrderNo" />
<input type="hidden" id="SectionID" />
<input type="hidden" id="SectionCount" value="@Model.Count()" />

@*<script src="~/Scripts/Dev_Scripts/Exam.js"></script>*@

<script src="~/Scripts/Dev_Scripts/Exam2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        var cid = $("#CourseID1").val();
        $("#SectionOrderNo").val(1);
        loadSectionData(cid, 1);
        EraseEmployeeAnswersOnRefreshOrOnLoad(cid);
    });

    var empAns = new Array();
    var questID = new Array();

    var input = {
        year: 0,
        month: 0,
        day: 0,
        hours: 0,
        minutes: 0,
        seconds: 0
    };

    var timestamp = new Date(input.year, input.month, input.day,
        input.hours, input.minutes, input.seconds);

    var interval = 1;

    setInterval(function () {
        timestamp = new Date(timestamp.getTime() + interval * 1000);
        document.getElementById('countdown2').innerHTML = timestamp.getHours() + 'h:' + timestamp.getMinutes() + 'm:' + timestamp.getSeconds() + 's';
    }, Math.abs(interval) * 1000);



    var ocProceedNextProcess = function () {
        var cid = $("#CourseID1").val();
        var sec1 = $("#SectionOrderNo").val();
        var secCon = parseInt(sec1) + 1;
        $("#SectionOrderNo").val(secCon);

        loadSectionData(cid, secCon);
    }

    function loadSectionData(cid, orderN) {
        LoadingData();
        $.ajax({
            type: "POST",
            url: "/Exam/GetSectionDataByCourseIDAndOrderSec",
            data: { "CourseID": cid, "OrderSec": orderN },
            success: function (response) {
                var rType = response.Type;
                var rOrderSec = response.OrderSec;
                var secID = response.ID

                var pdfID = "divPDF" + rOrderSec;
                var testID = "divEXAM" + rOrderSec;
                var vidID = "divVIDEO" + rOrderSec;

                $("#SectionID").val(secID);
                if (rType == "PDF") {
                    $("#" + pdfID).removeClass('hidden');
                    //Hide
                    pdfID = "divPDF" + (orderN - 1);
                    testID = "divEXAM" + (orderN - 1);
                    vidID = "divVIDEO" + (orderN - 1);
                    $("#" + testID).addClass('hidden');
                    $("#" + vidID).addClass('hidden');
                    $("#" + pdfID).addClass('hidden');
                    $("#btnProceedTest").addClass('hidden');
                    $("#btnProceed").removeClass('hidden');
                    UpdateUserCurrentProgress();
                }
                else if (rType == "Test") {
                    $("#" + testID).removeClass('hidden');
                    //Hide
                    testID = "divEXAM" + (orderN - 1);
                    pdfID = "divPDF" + (orderN - 1);
                    vidID = "divVIDEO" + (orderN - 1);
                    $("#" + pdfID).addClass('hidden');
                    $("#" + vidID).addClass('hidden');
                    $("#" + testID).addClass('hidden');
                    $("#btnProceed").addClass('hidden');
                    $("#btnProceedTest").removeClass('hidden');
                    UpdateUserCurrentProgress();
                }
                else {
                    $("#" + vidID).removeClass('hidden');
                    //Hide
                    vidID = "divVIDEO" + (orderN - 1);
                    pdfID = "divPDF" + (orderN - 1);
                    testID = "divEXAM" + (orderN - 1);
                    $("#" + testID).addClass('hidden');
                    $("#" + pdfID).addClass('hidden');
                    $("#" + vidID).addClass('hidden');
                    $("#btnProceedTest").addClass('hidden');
                    $("#btnProceed").removeClass('hidden');
                    UpdateUserCurrentProgress();
                }

            },
            error: function (response) {
                var orderN1 = $("#SectionOrderNo").val();
                vidID = "divVIDEO" + (orderN1 - 1);
                pdfID = "divPDF" + (orderN1 - 1);
                testID = "divEXAM" + (orderN1 - 1);
                $("#" + testID).addClass('hidden');
                $("#" + pdfID).addClass('hidden');
                $("#" + vidID).addClass('hidden');
                $("#btnProceed").addClass('hidden');
                $("#btnProceedTest").addClass('hidden');
                $("#divScoring").removeClass('hidden');
                EndLoading();
            }
        });
    }

    function UpdateUserCurrentProgress() {
        var cid = $("#CourseID1").val();
        var sic = $("#SectionCount").val();
        var sec1 = $("#SectionOrderNo").val();

        $.ajax({
            type: "POST",
            url: "/Exam/UpdateCourseProgess",
            data: { "CourseID": cid, "SectionCount": sic, "CurSection": sec1 },
            success: function (response) {
                UpdateTimeConsumed();
            },
            error: function (response) { }
        });
    }

    function UpdateTimeConsumed() {
        var cid = $("#CourseID1").val();
        var hours = timestamp.getHours();
        var mins = timestamp.getMinutes();
        var secs = timestamp.getSeconds();
        $.ajax({
            type: "POST",
            url: "/Exam/UpdateUserConsumedTime",
            data: { "CourseID": cid, "StrHours": hours, "StrMinutes": mins, "StrSeconds": secs },
            success: function (response) {
                var result = response.res;
                if (result == true) {
                    EndLoading();
                } else {
                    alert("ERROR: Saving timestamp");
                    EndLoading();
                }

            },
            error: function (response) { }
        });
    }

    var ocProceedNextTestProcess = function () {
        $("#modal-Confirmation").modal('show');
    }

    var add_checked = function (checked1) {
        debugger
        var checkBoxName = checked1.name;
        var checkBoxValue = checked1.value;
        if ($('input[name=' + checkBoxName + ']').is(':checked')) {
            empAns.push(checkBoxValue);
        } else {
            empAns.splice($.inArray(checkBoxValue, empAns), 1);
            for (a in empAns) {
                if (empAns[a] == checkBoxValue) {
                    empAns.splice(a, 1);
                }
            }
        }
    }

    var SaveEmployeeAnswers1 = function () {
        var cid = $("#CourseID1").val();
        var sid = $("#SectionID").val();
        $.ajax({
            type: "POST",
            url: "/Exam/GetQuizRadioIDbyCourseID",
            data: { "CourseID": cid, "SectionID": sid },
            success: function (response) {
                for (i in response) {
                    debugger
                    questID.push(response[i].ID);
                    if (response[i].QuestionType == "3") {
                        var radioName = "rd" + response[i].ID;
                        var radioData = $("input[name=" + radioName + "]:checked").val();
                        empAns.push(radioData);
                    }
                }
                ExecuteSaveingProcess1();
            },
            error: function (response) { }
        });
    }

    function ExecuteSaveingProcess1() {
        $.ajax({
            type: "POST",
            url: "/Exam/SaveEmployeeAnswers",
            data: { "QuestionID": questID, "EmployeeAnswers": empAns },
            success: function (response) {
                var result = response.res;
                if (result != "No Data") {
                    questID = [];
                    empAns = [];
                    ExecuteSaveScoreOfUser();
                } else {
                    alert("Please atleast answer one question.");
                }
            }
        });
    }

    function ExecuteSaveScoreOfUser() {
        var cid = $("#CourseID1").val();
        $.ajax({
            type: "POST",
            url: "/Exam/UpdateEmployeeScoreByCourseIDSectionIDAndEmployeeNumber",
            data: { "CourseID": cid },
            success: function (response) {
                var sec1 = $("#SectionOrderNo").val();
                var secCon = parseInt(sec1) + 1;
                $("#SectionOrderNo").val(secCon);
                $("#labelNoQuestion").text(response.mscore);
                $("#labelScore").text(response.tscore);

                $("#modal-Confirmation").modal('hide');
                loadSectionData(cid, secCon);
            }
        });
    }

    function EraseEmployeeAnswersOnRefreshOrOnLoad(CID) {
        $.ajax({
            type: "POST",
            url: "/Home/EraseEmployeeAswerByCourseID",
            data: { "CourseID": CID },
            success: function (response) {
                ResetEmployeeScore(CID)
            },
            error: function (response) { }
        });
    }

    function ResetEmployeeScore(CID) {
        $.ajax({
            type: "POST",
            url: "/Home/ResetEmployeeScoreByCourseID",
            data: { "CourseID": CID },
            success: function (response) {

            },
            error: function (response) { }
        });
    }

    var ocOkFinished = function () {
         window.location.href = '@Url.Action("Index", "Home")';
    }


</script>