@model IEnumerable<ELearningV1.Models.ViewModel.VMGetExamQuestion>
@{
    ViewBag.Title = "Exam";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var endTime = DateTime.UtcNow.AddSeconds(65);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
}
<style>
    .margin {
        margin-left: 50px;
    }

    .mt-1 {
        margin-top: 5px;
    }

    .mt-2 {
        margin-top: 10px;
    }

    .mt-3 {
        margin-top: 15px;
    }

    .mt-4 {
        margin-top: 20px;
    }

    .mt5 {
        margin-top: 25px;
    }
</style>
<div class="box">
    <div class="box-header">
        <div>Time Remaining: <span id="demo"></span></div>
    </div>
    <div class="box-body">
        <div class="box box-primary" id="divEXAM" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title">Questions</h3>
            </div>
            <div class="box-body">
                <table class="table table-hover table-bordered table-responsive table-striped">
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var items in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" id="CourSecID" value="@items.CourseSectionID" />
                                        <p id="@items.ID">@items.ID ) @items.Question</p>
                                    </td>
                                </tr>
                                if (items.QuestionType == "2")
                                {
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="chkid" name="chkA@(items.ID)" value="@items.C1" class="checkBox_">
                                                            <label id="txtMCOne">@items.C1</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="chkid" name="chkB@(items.ID)" value="@items.C2" class="checkBox_">
                                                            <label id="txtMCTwo">@items.C2</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="chkid" name="chkC@(items.ID)" value="@items.C3" class="checkBox_">
                                                            <label id="txtMCThree">@items.C3</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="chkid" name="chkD@(items.ID)" value="@items.C4" class="checkBox_">
                                                            <label id="txtMCFour">@items.C4</label>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" id="radioid" name="rdA@(items.ID)" value="@items.C1" class="radio_">
                                                    <label id="answer1">@items.C1</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" id="radioid" name="rdB@(items.ID)" value="@items.C2" class="radio_">
                                                    <label id="answer2">@items.C2</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" id="radioid" name="rdC@(items.ID)" value="@items.C3" class="radio_">
                                                    <label id="answer3">@items.C3</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" id="radioid" name="rdD@(items.ID)" value="@items.C4" class="radio_">
                                                    <label id="answer4">@items.C4</label>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--<div class="form-group margin"></div>-->
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <input type="text" class="form-control" style="display:none" id="txtCourseID" />
                <input type="text" class="form-control" style="display:none" id="txtCourseSectionID" />
                <input type="text" class="form-control" style="display:none" id="txtQuestionID" />
                <input type="text" class="form-control" style="display:none" id="txtOrderNumber" />
            </div>
        </div>

        <div class="box box-primary" id="divVIDEO" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitleVideo"></h3>
            </div>
            <div class="box-body text-center">
                <video id="videoTuitorial" controls width="1000" height="500"></video>
            </div>
        </div>
        <div class="box box-primary" id="divPDF" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitlePDF"></h3>
            </div>
            <div class="box-body">
                <div class="text-center">
                    <embed id="framePDF" width="100%" height="500" name="plugin" type="application/pdf" /> <!-- src="~/Content/CROSSFIRE.PDF"-->
                </div>
            </div>
        </div>

        <div class="box box-primary" id="divScoring" style="display:none;">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitleScoring"></h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <label style="font-size:large;font-weight:400">Total # of questions: </label> <label id="labelNoQuestion" style="font-size:large;font-weight:400"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <label style="font-size:large;font-weight:400">Your score is </label> <label id="labelScore" style="font-size:large;font-weight:400"></label>
                    </div>
                </div>
                <div class="panel panel-success" id="panelPositive" style="display:none;">
                    <p style="padding:10px;font-size:large;font-weight:400;">Congratulations! You are ready to start creating your own courses.</p>
                </div>
                <div class="panel panel-danger" id="panelNegative" style="display:none;">
                    <p style="padding:10px;font-size:large;font-weight:400">Maybe you should watch the video tutorials again. If you have any questions please feel free to contact the support team through the Help section! You can redo this test as many times as you want.</p>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <select id="ddChoices" class="form-control select2" style="width: 100%;">
                            <option value="0" selected>Select action</option>
                            <option value="1">Re-take exam</option>
                            <option value="2">Exit</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button type="button" class="btn btn-success btn-block" onclick="Decision()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button class="btn btn-success btn-block" id="btnProceedVideo" style="display:none" onclick="getNextDataToLoad()">Proceed</button>
                <button class="btn btn-success btn-block" id="btnProceedPDF" style="display:none" onclick="getNextDataToLoad()">Proceed</button>
                <button class="btn btn-success btn-block" id="btnNext" onclick="confirmation()" style="display:none">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Exam Name here</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">You can redo this test as many times as you want until you pass it. Good luck!</h3>
                <h4 class="text-center">This test contains # questions</h4>
                <h4 class="text-center">You have # minutes/hours to complete it</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Start test</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Are you sure about your answers?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveAnswers()">Yes</button>
                <button type="button" class="btn btn-default pull-right" onclick="cancelSaving()">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Saved!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveAnswers()">Proceed</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="SectionOrderNo" />
<script type="text/javascript">
    // Set the date we're counting down to
    var countDownDate = new Date("March 21, 2019 00:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
    /**
    //var remSeconds = timeRemaining;
    var secondsCounter = remSeconds % 60;
    var hoursCounter = secondsCounter % 60;

    function formatNumber(number) {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function startTick()
    {
        document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
        document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds / 60));
        document.getElementById('hourRemaining').innerText = formatNumber(parseInt(hoursCounter / 60));

        var _tick = setInterval(function ()
        {
            if (remSeconds > 0) {
                remSeconds = remSeconds - 1;
                secondsCounter = secondsCounter - 1;
                hoursCounter = hoursCounter - 1;
                document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds / 60));
                document.getElementById('hourRemaining').innerText = formatNumber(parseInt(hoursCounter / 60));

                if (secondsCounter == 0)
                    secondsCounter = 60;
            }
            else {
                clearInterval(_tick);
            }
        }, 1000);
    }

    startTick();
    **/
    var answers = new Array();
    var Arrayid = new Array();

    $(document).ready(function () {
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Home/GetSession",
                data: {},
                success: function (response) {
                    getAllUrlParams();
                    //$("#modal-info").modal();
                },
                error: function (response) {
                    window.location.href = '/LogIn/Index';
                }

            });
        });
    });

    function getAllUrlParams() {
        var data = "";
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
            loadExamData(value);
            data = value;
        });
        return data;
    }

    var loadExamData = function (CourseID) {
        $.ajax({
            type: "POST",
            url: "Exam/Exam",
            data: { "CourseID": CourseID },
            success: function (response) {
                loadData(CourseID);
            }
        });
    }

    var loadData = function (CourseID, SectionOrder) {

        var dExam = document.getElementById("divEXAM");
        var dVideo = document.getElementById("divVIDEO");
        var dPDF = document.getElementById("divPDF");
        var dScoring = document.getElementById("divScoring");

        var iFrameVideo = document.getElementById("videoTuitorial");

        var btnExam = document.getElementById("btnNext");
        var btnVideo = document.getElementById("btnProceedVideo");
        var btnPDF = document.getElementById("btnProceedPDF");

        var CourseSec = $("#CourSecID").val();
        var OrderNo = $("#SectionOrderNo").val();
        if (OrderNo == "") {
            OrderNo = 0;
        }

        $.ajax({
            type: "POST",
            url: "/Exam/GetDataToLoad",
            data: { "CourseID": CourseID, "PreviousOrderSec": OrderNo },
            success: function (response) {
                $("#SectionOrderNo").val(response._currentSectionOrder);

                if (response.res == "Video") {
                    $.ajax({
                        type: "POST",
                        url: "/Exam/loadVideo",
                        data: { "CourseID": CourseID },
                        success: function (responseVideo) {
                            dVideo.style.display = "block";
                            btnVideo.style.display = "block"

                            dPDF.style.display = "none";
                            dExam.style.display = "none";
                            dScoring.style.display = "none";

                            btnExam.style.display = "none"
                            btnPDF.style.display = "none";

                            var text = "Save";
                            document.getElementById("btnNext").innerHTML = text;

                            $("#boxTitleVideo").text(responseVideo.resTitleVideo);
                            document.getElementById("videoTuitorial").src = responseVideo.resVideo;
                        }
                    });
                }

                else if (response.res == "PDF") {
                    $.ajax({
                        type: "POST",
                        url: "/Exam/loadPDF",
                        data: { "CourseID": CourseID },
                        success: function (responsePDF) {
                            iFrameVideo.pause();

                            $("#boxTitlePDF").text(responsePDF.resTitlePDF);
                            document.getElementById("framePDF").src = responsePDF.resPDF;

                            dPDF.style.display = "block";
                            btnPDF.style.display = "block"

                            dVideo.style.display = "none";
                            dExam.style.display = "none";
                            dScoring.style.display = "none";

                            btnExam.style.display = "none"
                            btnVideo.style.display = "none";
                        }
                    });
                }

                else if (response.res == "Test") {
                    $("#modal-info").modal("show");
                    dPDF.style.display = "none";
                    dVideo.style.display = "none";
                    dExam.style.display = "block";
                    dScoring.style.display = "none";

                    iFrameVideo.pause();

                    btnExam.style.display = "block"
                    btnVideo.style.display = "none";
                    btnPDF.style.display = "none";
                    getQuestionID();
                }

                //For scoring
                else if (response.res == "Scoring") {
                    iFrameVideo.pause();
                    dScoring.style.display = "block";
                    dPDF.style.display = "none";
                    dVideo.style.display = "none";
                    dExam.style.display = "none";

                    btnExam.style.display = "none"
                    btnVideo.style.display = "none";
                    btnPDF.style.display = "none";

                    $.ajax({
                        type: "POST",
                        url: "/Exam/getScoreofEmployeeExam",
                        data: { "CourseID": CourseID, "CourseSectionID": CourseSec },
                        success: function (responseScore) {
                            var a = document.getElementById("panelPositive");
                            var b = document.getElementById("panelNegative");

                            $("#labelNoQuestion").text(responseScore._questionCount);
                            $("#labelScore").text(responseScore._score + "%");

                            if (responseScore._score <= 74) {
                                b.style.display = "block";
                            }
                            else if (responseScore._score >= 75) {
                                a.style.display = "block";
                            }
                        }
                    });
                }
            },
        });

    }

    var getNextDataToLoad = function () {
        var dVideo = document.getElementById("divVIDEO");
        var dPDF = document.getElementById("divPDF");
        var dExam = document.getElementById("divEXAM");
        var OrderNo = $("#SectionOrderNo").val();
        var data = getAllUrlParams();
        //alert(data + ' - ' + OrderNo);

        loadData(data, OrderNo);
    }

    $(".checkBox_").change(function () {
        var a;
        for (a = 0; a <= answers.length; a++) {
            if (this.value == answers[a]) {
                // do nothing
            }
            else { answers.push(this.value); break; }
        }
    });

    $(".radio_").change(function () {
        // for employe who change their answer
        var a;
        for (a = 0; a <= answers.length; a++) {
            if (this.value == answers[a]) {
                // do nothing
            }
            else { answers.push(this.value); break; }
        }
    });

    var confirmation = function () {
        debugger
        var xPDF = document.getElementById("divPDF");
        var xVideo = document.getElementById("divVIDEO");
        var xExam = document.getElementById("divEXAM");

        if (xExam.style.display == "block") {
            if (answers == "" || answers == null) {
                alert("Please answer all the questions");
            }
            else { $("#modal-Confirmation").modal('show'); }
        }
        else if (xVideo.style.display == "block") {
            loadData();
        }
        else if (xPDF.style.display == "block") {
            loadData();
        }
    }

    var cancelSaving = function () {
        //answers = "";
        $("#modal-Confirmation").modal('hide');
    }

    var getQuestionID = function () {
        debugger
        var rows = document.getElementsByTagName("tbody")[0].rows; //document.getElementById("tbody").rows.length; //

        for (var i = 0; i < rows.length; i++) {

            var chk = document.getElementsByTagName("input")[i].getAttribute("name");

            //Check if chk is null
            if (chk == null || chk == "" || chk == " ") { }

            else {
                if (chk == "q") {

                }
                else {
                    var value = chk.match(/\d/g);//chk.slice(-1);
                    value = value.join("");

                    var result = Arrayid.includes(value);
                    if (result == false) {
                        Arrayid.push(value);
                    }
                    else { }
                }
            }
        }
    }

    var SaveAnswers = function () {
        $("#modal-Confirmation").modal('hide')
        debugger
        //for QuestionID
        let unique = [...new Set(Arrayid)];

        $.ajax({
            type: "POST",
            url: "/Exam/SaveEmployeeAnswers",
            data: { "QuestionID": unique, "Answers": answers },
            success: function (response) {
                alert(response.res);
                getNextDataToLoad();
            }
        });
    }

    var Decision = function () {
        var selected = $("#ddChoices option:selected").val();
        var CourseSec = $("#CourSecID").val();

        var dExam = document.getElementById("divEXAM");
        var dVideo = document.getElementById("divVIDEO");
        var dPDF = document.getElementById("divPDF");
        var dScoring = document.getElementById("divScoring");

        var iFrameVideo = document.getElementById("videoTuitorial");

        var btnExam = document.getElementById("btnNext");
        var btnVideo = document.getElementById("btnProceedVideo");
        var btnPDF = document.getElementById("btnProceedPDF");

        if (selected == "1") {
            $.ajax({
                type: "POST",
                url: "/Exam/EmpResetAnswer",
                data: { "CourseSecID": CourseSec },
                success: function (responseReset) {
                    if (responseReset.res == "true") {
                        $("#modal-info").modal("show");
                        dExam.style.display = "block";
                        dPDF.style.display = "none";
                        dVideo.style.display = "none";
                        dScoring.style.display = "none";

                        iFrameVideo.pause();

                        btnExam.style.display = "block"
                        btnVideo.style.display = "none";
                        btnPDF.style.display = "none";
                        getQuestionID();

                        //Clearing checkbox and radio button
                        document.getElementById("chkid").checked = false;
                        document.getElementById("radioid").checked = false;
                    }
                }
            });
        }
        else if (selected == "2") {
            window.location.href = "../Home/Index";
        }
    }
</script>