
@{
    ViewBag.Title = "E-Learning | Trec";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="@Url.Content("~/Content/favicon2ico.png")" type="image/png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/admin-lte/css/css")
    @Styles.Render(" ~/Ionicons/css/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js/adminlte.min.js")
    <style type="text/css">
        body {
            background: no-repeat;
        }

        .login-box {
        }
    </style>

    <title>Page Title</title>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#/"><b>E</b>Learning</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form>
                <div class="form-group has-feedback">
                    <input type="text" id="EmpNumber" class="form-control" placeholder="Employee Number">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="Password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="ShowPassword"> Show password
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" onclick="ocSignIn()">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="#">I forgot my password</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
</body>
</html>


<script type="text/javascript">
    history.pushState(null, null, document.URL);

    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    var ocSignIn = function ()
    {
        var usernum = $("#EmpNumber").val();
        var pass = $("#Password").val();
        if (usernum.length != 0 && pass.length != 0) {
            $.ajax({
                type: "POST",
                url: "/LogIn/LogInAccount",
                data: { "unum": usernum, "upass": pass },
                success: function (response) {
                    var status = response.result;
                    if (status != false) {
                        window.location.href = "/Home/Index";
                    } else {
                        alert("Username and password did not match please try again.");
                    }
                }
            });
        } else {
            alert("Please full all required fields");
        }
    }

    $("#ShowPassword").change(function ()
    {
        if (this.checked) {
            $("#Password").prop('type', 'text');
        } else {
            $("#Password").prop('type', 'password');
        }
    });

    $('#Password').keypress(function (e)
    {
        var key = e.which;
        if (key == 13)  // the enter key code
        {

            var usernum = $("#EmpNumber").val();
            var pass = $("#Password").val();
            if (usernum.length != 0 && pass.length != 0) {
                $.ajax({
                    type: "POST",
                    url: "/LogIn/LogInAccount",
                    data: { "unum": usernum, "upass": pass },
                    success: function (response) {
                        var status = response.result;
                        if (status != false) {
                            window.location.href = "/Home/Index";
                        } else {
                            alert("Username and password did not match please try again.");
                        }
                    }
                });
            } else {
                alert("Please full all required fields");
            }
        }
    });
</script>

