<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/admin-lte/css/css")
    @Styles.Render(" ~/Ionicons/css/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js/adminlte.min.js")
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Content/select2/dist/js/select2.min.js"></script>
    <script src="~/Content/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Scripts/highcharts/6.2.0/highcharts.js"></script>
    <script src="~/Scripts/highcharts/6.2.0/js/modules/series-label.js"></script>
    <script src="~/Scripts/highcharts/6.2.0/js/modules/exporting.js"></script>
    <script src="~/Scripts/highcharts/6.2.0/js/modules/export-data.js"></script>



    <style type="text/css">
        .customSAccProf {
            max-width: 120px;
        }
    </style>

</head>
<body class="hold-transition skin-blue-light fixed sidebar-mini">
    <header class="main-header">
        <!-- Logo -->
        <a href="#/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>E</b>L</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>E</b>Learning</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-address-book-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu customSAccProf">
                            <li class="">
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu" align="center">
                                    <li>
                                        <a href="#" class="text-black">
                                            <i class="fa fa-users"></i> My Info
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-black">
                                            <i class="fa fa-warning"></i> My Courses
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-black">
                                            <i class="fa fa-users"></i> My Progress
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-black">
                                            <i class="fa fa-shopping-cart"></i> My Group
                                        </a>
                                    </li>

                                    <!-- end message -->
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Session["UserProfilePic"].ToString()" class="user-image" alt="User Image">
                            <span class="hidden-xs">Alexander Pierce</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@Session["UserProfilePic"].ToString()" class="img-circle" alt="User Image">
                                <p>
                                    Alexander Pierce - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Session["UserProfilePic"].ToString()" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li><a href="#/" onclick="Home()"><i class="fa fa-home" style="font-size:20px;"></i> <span> HOME</span></a></li>
                <li class="treeview">
                    <a href="#/">
                        <i class="fa fa-book" style="font-size:20px;"></i> <span>COURSES</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/" onclick="addCourse()"><i class="fa fa-arrow-circle-o-right" style="font-size:20px;"></i> New Course</a></li>
                        <li><a href="#/" onclick="viewCourse()"><i class="fa fa-arrow-circle-o-right" style="font-size:20px;"></i> View Courses</a></li>
                        <li><a href="#/" onclick="Exams()"><i class="fa fa-arrow-circle-o-right" style="font-size:20px;"></i> Exams</a></li>
                    </ul>
                </li>
                <li><a href="#/"><i class="fa fa-group"></i> <span>JOIN GROUP</span></a></li>
                <li class="treeview">
                    <a href="#/">
                        <i class="fa fa-cloud"></i> <span>DISCUSSION</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/"><i class="fa fa-arrow-circle-o-right"></i> New Discussion</a></li>
                        <li><a href="#/"><i class="fa fa-arrow-circle-o-right"></i> View Discussion</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            @RenderBody()
        </section>
        <!-- Main content -->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
    <div class="control-sidebar-bg"></div>
    <!-- ./wrapper -->
    @RenderSection("scripts", required: false)
</body>
</html>


<div class="modal fade" id="modalAddCourse">
    <div class="modal-dialog" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Course</h4>
            </div>
            <div class="modal-body">
                <!-- form start -->

                <form role="form">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group" align="center">
                                <img src="~/UpLoadedImages/imagesaaaaa.jpg" id="CoursePic" class="img-thumbnail" alt="Cinque Terre" style="width:150px; height:150px;">
                                <input type="file" id="CourseImage" />
                            </div>
                        </div>
                        <div class="col-md-6  col-xs-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter Course Name:</label>
                                <input type="email" class="form-control" id="CName" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description:</label>
                                <input type="email" class="form-control" id="CDesc" placeholder="Description">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- /.box -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ocAddNewCourse()" class="btn btn-primary">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<input id="imageName" class="hidden" />
<script src="~/Scripts/Dev_Scripts/AddNewCourse.js"></script>

<script>
    var Home = function () {
        window.location.href = '@Url.Action("Index", "Home")';
    }

    var Exams = function () {
        window.location.href = '@Url.Action("ExamList", "Exam")';
    }

    var viewCourse = function () {
           window.location.href = '@Url.Action("ViewCourse", "Home")';
    }

    var addCourse = function () {
        $("#modalAddCourse").modal('show');
    }
</script>